<div class="container-fluid" style="padding-bottom: 5em;">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-1" style="padding-right: 50px;">
            <p style="font-weight: 400;"> Subscribe to our mailing list</p>
            <p style="font-weight: 400;"> Be the first to get notified about our sales, workshops, locations of our collection camps, and more! You're on your way to a greener you.</p>
        </div>
        <div class="col-xs-2">
            <h3 style="margin-top: 0px; margin-bottom: 0px;"> Follow us on</h3>
            <p style="font-weight: 500;"> email@greeninyou.com</p>
        </div>
        <div class="col-xs-2" style="padding-left: 5em;">
            <h3 style="margin-top: 0px; margin-bottom: 0px;">Help</h3>
            <h4>FAQ</h4>
            <h4>Career</h4>
            <h4>Privacy Policy</h4>
            <h4>Terms & Conditions</h4>
        </div>
        <div class="col-xs-2" style="padding-left: 5em;">
            <h3 style="margin-top: 0px; margin-bottom: 0px;">Connect</h3>
            <h4>Contact Us</h4>
            <h4>Join Our Team</h4>
        </div>
    </div>
</div>