<div class="row" style="padding-bottom: 5em; padding-top: 5em;">
    <div class="col-md-4 col-md-offset-1 col-xs-12 col-sm-8 col-sm-offset-2 lg-left-p text-center" style="padding-bottom: 2em; padding-top: 2em;">
        <p class="footer-p"> <a href="../#subscribe">Subscribe</a> &nbsp;to our mailing list</p>
        <p class="footer-p"> Follow us and be the first to get notified about our sales, workshops, locations of our collection camps, and more! You're on your way to a greener you.</p>
    </div>
    
    <div class="col-md-2 col-md-offset-1 col-sm-12 col-xs-12 col-sm-8 col-sm-offset-2 lg-left-p text-center" style="padding-bottom: 2em;">
        <h3 class="title" style="padding-bottom: 0em;" >Follow us on</h3>
        <a href='https://www.facebook.com/GreenInYou/' style="padding-right: 10px;">
            <img src="{{'assets/img/footer_logos/facebook.png' | relative_url}}" alt="Facebook" class="footer-icon">
        </a>
        <a href='https://www.instagram.com/greeninyou/' style="padding-right: 10px;">
            <img src="{{'assets/img/footer_logos/instagram.png'  | relative_url}}" alt="Instagram" class="footer-icon">
        </a>
        <a href='https://www.linkedin.com/company/green-in-you/' style="padding-right: 10px;">
            <img src="{{'assets/img/footer_logos/linkedin.png'  | relative_url}}" alt="Linkedin" class="footer-icon">
        </a>
        <a href="mailto:contact@greeninyou.in" >
            <p class="footer-p" style="font-weight: 500;padding-top: 1em;">contact@greeninyou.in</p>
        </a>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1 col-xs-12 col-sm-8 col-sm-offset-2 lg-left-p text-center">
            <h3 class="title" style="padding-bottom: 0em;">Connect</h3>
            <a href='/contact'>
                <p class="footer-p">Contact Us</p>
            </a>
            <a href='/team'>
                <p class="footer-p">Join Our Team</p>
            </a>
            
        </div>
    </div>
</div>