<div class="row" style="padding-bottom: 5em; padding-top: 5em;">
    <div class="col-lg-4 col-lg-offset-1 col-xs-12 text-center" style="padding-bottom: 2em;">
        <p class="footer-p"> Subscribe to our mailing list</p>
        <p class="footer-p"> Be the first to get notified about our sales, workshops, locations of our collection camps, and more! You're on your way to a greener you.</p>
    </div>
    <div class="col-lg-2 col-xs-12" style="padding-bottom: 2em;">
        <h3 class="footer-p" style="padding-bottom: 1em">Follow us on</h3>
        <a href='https://www.facebook.com/GreenInYou/' style="padding-right: 10px;">
            <img src="{{'assets/img/facebook.png' | relative_url}}" alt="Facebook" class="footer-icon">
        </a>
        <a href='https://www.instagram.com/greeninyou/' style="padding-right: 10px;">
            <img src="{{'assets/img/instagram.png'  | relative_url}}" alt="Instagram" class="footer-icon">
        </a>
        <a href='https://www.linkedin.com/company/green-in-you/' style="padding-right: 10px;">
            <img src="{{'assets/img/linkedin.png'  | relative_url}}" alt="Linkedin" class="footer-icon">
        </a>
        <a href="mailto:greeninyougiy@gmail.com" >
            <p class="footer-p" style="font-weight: 500;padding-top: 1em;"> contact@greeninyou.com</p>
        </a>
    </div>
    <div class="row">
        <div class="col-lg-2 col-xs-6">
            <h3 class="footer-p" style="padding-bottom: 1em">Connect</h3>
            <a href='/contact'>
                <p class="footer-p">Contact Us</p>
            </a>
            <a href='/team'>
                <p class="footer-p">Join Our Team</p>
            </a>
            
        </div>
    </div>
</div>