<header style="background-image: url({{ page.headerurl | relative_url }});">
    <div class="header-content">
        <div class="header-content-inner">
            {% if page.pbeforeh3 == true %}
            <p style="font-family: Montserrat;">{{page.headerptext}}</p>
            <h1 style="font-family: BetterTogether;">{{page.headerh3text}}</h1>
            {% else %}
            <h1 style="font-family: BetterTogether;">{{page.headerh3text}}</h1>
            <p>{{page.headerptext}}</p>
            {% endif %}
        </div>
    </div>
</header>