<head>
    <title>Green In You</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href={{ "../assets/css/bootstrap.min.css" | relative_url }} type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href={{ "../assets/css/animate.min.css" | relative_url }} type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ "../assets/css/main.css" | relative_url }}>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174297630-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-174297630-1');
    </script>


</head>