<header style="background-image: url({{ page.headerurl | relative_url }}); scroll-snap-align: start;">
    {% include navbar.html navbartype="navbar-default" %}
    <div class="header-content" style="min-height: 25em;">
        <div id="header-collapse" class="collapse in">
            <div class="header-content-inner">
                {% if page.pbeforeh3 == true %}
                <p style="font-family: Montserrat-Bold;">{{page.headerptext}}</p>
                <h1 style="font-family: BetterTogether;">{{page.headerh3text}}</h1>
                {% else %}
                <h1 style="font-family: BetterTogether;">{{page.headerh3text}}</h1>
                <p style="font-family: Montserrat-Bold;">{{page.headerptext}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</header>