<div class="container-fluid"></div>
    <nav class="{{ include.navbartype }}">
    
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="href={{site.url}}" style="font-size: 30px; color: aliceblue; padding-left: 2em;">
                GREEN IN YOU
            </a>
            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% for item in site.data.pagelist.docs %}
                    {% if page.url == item.url %}
                        <li><a href="{{ item.url | prepend: site.url }}" id="active">{{ item.title }}</a></li>
                    {% else %}
                        <li><a href="{{ item.url | prepend: site.url }}" id="notactive">{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href={{site.url}}>🔍</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- /.container-fluid -->
</div>