<!-- jQuery -->
<script src={{ "/assets/js/jquery.js" | relative_url }}></script>

<!-- Bootstrap Core JavaScript -->
<script src={{ "../assets/js/bootstrap.min.js" | relative_url }}></script>

<!-- Plugin JavaScript -->
<script src={{ "../assets/js/jquery.easing.min.js" | relative_url }}></script>
<script src={{ "../assets/js/jquery.fittext.js" | relative_url }}></script>
<script src={{ "../assets/js/wow.min.js" | relative_url }}></script>

<!-- Custom Theme JavaScript -->
<script src={{ "../assets/js/creative.js" | relative_url }}></script>