html,
body {
    height: 100%;
    width: 100%;
    line-height: 24px;
    @include serif-font;
}

.container-fluid {
    min-width: 360px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

p {
    font-size:16px;
    color:#707070;
    font-family: Chivo-Regular;
    margin-bottom: 16px;
}

ul {
    @media (max-width: 768px) {
        padding-left: 1em;
    }
}

.logo {
    @media (min-width: 768px) {
        padding-left: 5em;
    }
}

.green-h3 {
    color: #A1BFAD;
    margin: 0;
}

.thesale-p {
    font-size:22px;
    font-weight:400;
    color:#707070;
    padding-top: 15px;
}

@media only screen and (max-width: 768px) {
  .xs-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

//Homepage
.preloved {
    font-size: 90px;
    color: #A1BFAD;
    font-family: BetterTogether;
    padding-bottom: 50px;
}

.donate {
    height: 12em;
    width: 8em;
    object-fit: contain;
}

//Instagram
.insta-embed {
    padding: 0em 0em 2em 0em;
    @media (min-width: 992px) {
        padding: 1em 1em 1em 1em;
    }
}

//Team

.join-team {
    margin: auto;
    width: 6em;
    height: 6em;
    object-fit: contain;
}

.join-team-text {
    margin: auto;
    width: 75%;
    max-width: 18em;
}

.team-positions {
    margin: auto;
    max-height: 24em;
    width: 70%;
    background-color: #A1BFAD;
    overflow: hidden;
    @media (min-width: 992px) {
        width: 75%;
        max-height: 16em;
    }
}

.team-positions img {
    width: 100%;
}

.team-positions-text {
    margin: auto;
    width: 90%;
    max-width: 24em;
    @media (min-width: 992px) {
        width: 75%;
        //max-height: 16em;
    }
}

//custom team image cropping
@media (min-width: 768px) {
    .team-one {
        margin-top: -120px;
    }
    .team-two {
        margin-top: -70px;
    }
    .team-three {
        margin-top: -50px;
    }
    .team-four {
        margin-top: -90px;
    }
    .team-five {
        margin-top: -30px;
    }
}

.team-h4 {
    font-family: Montserrat-SemiBold;
    padding-top: 2em;
}

.team-greenbox {
    //height: 250px; 
    width: 100%; 
    background-color: #A1BFAD; 
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.team-positions-greenbox {
    height: 250px;
    width: 320px;
    background-color: #DCEBE2;
}

.lg-left-p {
    @media (min-width: 992px) {
        text-align: left;
    }
}

//Footer
.footer-p {
    font-weight: 400;
    color: #4B4B4B;
    margin: 0;
}

.footer-icon {
    height: 35px;
    width: 35px;
}

// Navigation

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar-toggle {
    position: absolute;
    float: none;
    left: 3em;
}

.navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    position: absolute;
    right: 1em;
    border-color: #ddd;
    
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-right{
    margin-right: 0px;
}

.navbar-header {
    text-align: center;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    height: 10em;
    padding-top: 3em;
    .nav {
        > li {
            > a,
            > a:focus {
                font-weight: 700;
                font-size: 22px;
                &:hover {
                    color: $theme-light-green;
                }
            }

        }
    }
    .nav > li > a#notactive {
            color: $theme-primary;
            &:hover {
                color: $theme-light-green;
            }
        }

    .nav > li > a#active {
            color: $theme-light-green;
            &:hover {
                color: $theme-light-green;
            }
        }
    @media (min-width: 992px) {
        background-color: transparent;
        border-color: transparent;
        .navbar-header .navbar-brand {
            text-align: center;
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            padding-right: 2em;
            &:hover {
                color: $theme-light-green;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

.navbar-blogpost {
    @media (min-width: 768px) {
        .nav > li > a#notactive {
            color: $theme-dark;
            &:hover {
                color: $theme-light-green;
            }
        }
    }
}

//Blog
a {
    color: $theme-light-green;
}

a:hover {
    //text-decoration: none;
    color: $theme-light-green;
}

.blog-p {
    line-height: 2em;
    margin-bottom: 32px;
}

.blogpost-title {
    font-family: Prata-Regular;
    color: $theme-light-green;
    font-size: 32px;
    line-height: 48px;
    @media (min-width: 768px) {
        font-size: 64px;
        line-height: 96px;
    }
}


// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: 95vh;
    @include background-cover;
    background-position: center;
    //background-image: url('../img/header.png');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 10em 1em 10em;
        width: 100%;
        .header-content-inner {
            h1 {
                font-family: Prata-Regular;
                font-size: 72px;
                color: white;
                margin-bottom: 0.67em;
            }
            p {
                font-family: Prata-Regular;
                font-size: 16px;
                color: white;
                line-height: 32px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100vh;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                h1 {
                    font-size: 72px;
                }
                p {
                    font-size: 32px; 
                }
            }
        }
    }
}

.header-arrow {
    bottom: 2em;
    position: absolute;
    text-align: center;
    width: 100%;
}

// Sections

.section-heading {
    font-family: Montserrat-Bold;
    font-size: 24px;
    line-height: 44px;
    color:#4B4B4B;
}

.title {
    font-family: Prata-Regular;
    font-size: 32px;
    color: #4B4B4B;
    padding-bottom: 1em;
    line-height: 48px;
}

.section-heading-letterspaced {
    font-family: Montserrat-Bold;
    font-size: 22px;
    letter-spacing: 2.8px;
    line-height: 34px;
    color: #4B4B4B;
}

.thesale-greenbox {
    //height: 280px; 
    width: 100%; 
    background-color: #A1BFAD; 
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
}

// Contact

.contact-box {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    //max-width: 800px;
}

.contact-input {
    border-radius: 0;
    color: black;
    height: 50px;
    margin-bottom: 3em;
}

.contact-header {
    height: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.btn-green {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    border-color: transparent;
    background-color:#386C5F;//#A1BFAD
    color: white;
    letter-spacing: 1px;
    font-family: Montserrat-Bold;
    font-weight: 400;
    height: 50px;
    width: 150px;
}

//Gallery
/* Override bootstrap column paddings */
.gallery-container {
	h1 {
		text-align: center;
		margin-top: 50px;
		font-family: 'Droid Sans', sans-serif;
		font-weight: bold;
	}
	p.page-description {
		text-align: center;
		margin: 25px auto;
		font-size: 18px;
		color: #999;
	}
}
.tz-gallery {
	padding: 40px;
	.row {
		>div {
			padding: 2px;
		}
	}
	.column {
		>div {
			padding: 2px;
		}
	}
	.lightbox {
		img {
			width: 100%;
			border-radius: 0;
			position: relative;
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -13px;
			margin-left: -13px;
			opacity: 0;
			color: #fff;
			font-size: 26px;
			font-family: 'Glyphicons Halflings';
			content: '\e003';
			pointer-events: none;
			z-index: 9000;
			transition: 0.4s;
		}
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(46, 132, 206, 0.7);
			content: '';
			transition: 0.4s;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
			&:before {
				opacity: 1;
			}
		}
	}
}
.baguetteBox-button {
	background-color: transparent !important;
}

.thumbnail {
	margin-bottom:7px;
}
// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

//img

.image-container {
    @media (max-width: 992px) { //mobile and tablet
        padding-top: 6em;
    }
    @media (min-width: 992px) { //desktop
        padding-top: 2em;
    }
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-responsive {
    max-height:32em;
    margin: auto;
}

.img-shadow-left {
    box-shadow: -70px 5px 0px 15px #DCEBE2;
}

.img-shadow-right {
    box-shadow: 75px -10px 0px 35px #DCEBE2;
}

.img-shadow-howitworks {
    box-shadow: 30px -30px 0px 8px #DCEBE2;
}

.img-shadow-aboutus {
    box-shadow: -70px 5px 0px 30px #DCEBE2;
}

.img-shadow-team {
    box-shadow: -40px 0px 0px 15px #DCEBE2;
}

.img-shadow-right-team {
    box-shadow: 75px -10px 0px 35px #DCEBE2;
}

.img-shadow-team-positions {
    box-shadow: -70px 5px 0px 30px #F7FCF9;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

