html,
body {
    height: 100%;
    width: 100%;
}

.container-fluid {
    min-width: 360px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

body {
    @include serif-font;
}

p {
    font-size:18px;
    font-weight:300;
    color:#707070;
}

.slide {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;  // vertically center
    justify-content: center; // horizontally center
}

.green-h3 {
    color: #A1BFAD;
    margin: 0;
}

.thesale-p {
    font-size:22px;
    font-weight:400;
    color:#707070;
    padding-top: 15px;
}

.team-p {
    font-family: Montserrat-Medium;
    color: #4B4B4B;
}

.team-p2 {
    font-family: Montserrat-Medium;
    color: #707070;
    
}

.lg-left-p {
    @media (min-width: 768px) {
        text-align: left;
    }
}

//Footer
.footer-p {
    font-weight: 400;
    color: #4B4B4B;
    margin: 0;
}

.footer-icon {
    height: 35px;
    width: 35px;
}

// Navigation

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar-toggle{
    background-color: #ddd;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    height: 10em;
    padding-top: 3em;
    .nav {
        > li {
            > a,
            > a:focus {
                font-weight: 700;
                font-size: 22px;
                &:hover {
                    color: $theme-green;
                }
            }

        }
    }
    .nav > li > a#notactive {
            color: $theme-primary;
            &:hover {
                color: $theme-green;
            }
        }

    .nav > li > a#active {
            color: $theme-green;
            &:hover {
                color: $theme-green;
            }
        }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: transparent;
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            padding-right: 2em;
            &:hover {
                color: $theme-green;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

.navbar-blogpost {
    @media (min-width: 768px) {
        .nav > li > a#notactive {
            color: $theme-dark;
            &:hover {
                color: $theme-green;
            }
        }
    }
}

// Homepage Header
.header-pbeforeh3 {
    font-family: Montserrat-Bold; 
    font-size: 30px; 
    margin-bottom: 0;
    @media (min-width: 768px) {
        padding-top: 8em;
    }
}
.contact-header {
    height: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

header {
    position: relative;
    width: 100%;
    min-height: 70vh;
    @include background-cover;
    background-position: center;
    //background-image: url('../img/header.png');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: white;
                font-size: 16px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100vh;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    font-family: Montserrat-Bold;
    font-size: 24px;
    line-height: 44px;
    color:#4B4B4B;
}

.section-heading-letterspaced {
    font-family: Montserrat-Bold;
    font-size: 22px;
    letter-spacing: 2.8px;
    line-height: 34px;
    color: #4B4B4B;
}

.thesale-greenbox {
    //height: 280px; 
    width: 100%; 
    background-color: #A1BFAD; 
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.team-greenbox {
    //height: 250px; 
    width: 100%; 
    background-color: #DCEBE2; 
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.team-positions-greenbox {
    height: 250px;
    width: 320px;
    background-color: #DCEBE2;
}

.contact-box {
    background-color: #000000;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    //max-width: 800px;
}

.contact-input {
    border-radius: 0;
    color: black;
    height: 50px;
    margin-bottom: 3em;
}


.btn-green {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    border-color: transparent;
    background-color:#A1BFAD;
    color: white;
    letter-spacing: 1px;
    font-family: Montserrat-Bold;
    font-weight: 400;
    height: 50px;
    width: 150px;
}

// Contact

//Gallery
.gallery-container {
	h1 {
		text-align: center;
		margin-top: 50px;
		font-family: 'Droid Sans', sans-serif;
		font-weight: bold;
	}
	p.page-description {
		text-align: center;
		margin: 25px auto;
		font-size: 18px;
		color: #999;
	}
}
.tz-gallery {
	padding: 40px;
	.row {
		>div {
			padding: 2px;
		}
	}
	.lightbox {
		img {
			width: 100%;
			border-radius: 0;
			position: relative;
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -13px;
			margin-left: -13px;
			opacity: 0;
			color: #fff;
			font-size: 26px;
			font-family: 'Glyphicons Halflings';
			content: '\e003';
			pointer-events: none;
			z-index: 9000;
			transition: 0.4s;
		}
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(46, 132, 206, 0.7);
			content: '';
			transition: 0.4s;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
			&:before {
				opacity: 1;
			}
		}
	}
}
.baguetteBox-button {
	background-color: transparent !important;
}

.thumbnail {
	margin-bottom:7px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

//img

.img-responsive {
    height:100%;
    max-height:30em;
}

.img-shadow-left {
    box-shadow: -70px 5px 0px 15px #DCEBE2;
}

.img-shadow-right {
    box-shadow: 75px -10px 0px 35px #DCEBE2;
}

.img-shadow-howitworks {
    box-shadow: 30px -30px 0px 8px #DCEBE2;
}

.img-shadow-aboutus {
    box-shadow: -70px 5px 0px 30px #DCEBE2;
}

.img-shadow-team {
    box-shadow: -40px 0px 0px 15px #DCEBE2;
}

.img-shadow-right-team {
    box-shadow: 75px -10px 0px 35px #DCEBE2;
}

.img-shadow-team-positions {
    box-shadow: -70px 5px 0px 30px #F7FCF9;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

