/* Override bootstrap column paddings */
body {
	background-color: #434c50;
	min-height: 50vh;
	font: normal 16px sans-serif;
	padding: 40px 0;
}
.container.gallery-container {
	background-color: #fff;
	color: #35373a;
	min-height: 100vh;
	padding: 30px 50px;
}
.gallery-container {
	h1 {
		text-align: center;
		margin-top: 50px;
		font-family: 'Droid Sans', sans-serif;
		font-weight: bold;
	}
	p.page-description {
		text-align: center;
		margin: 25px auto;
		font-size: 18px;
		color: #999;
	}
}
.tz-gallery {
	padding: 40px;
	.row {
		>div {
			padding: 2px;
		}
	}
	.column {
		>div {
			padding: 2px;
		}
	}
	.lightbox {
		img {
			width: 100%;
			border-radius: 0;
			position: relative;
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -13px;
			margin-left: -13px;
			opacity: 0;
			color: #fff;
			font-size: 26px;
			font-family: 'Glyphicons Halflings';
			content: '\e003';
			pointer-events: none;
			z-index: 9000;
			transition: 0.4s;
		}
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(46, 132, 206, 0.7);
			content: '';
			transition: 0.4s;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
			&:before {
				opacity: 1;
			}
		}
	}
}
.baguetteBox-button {
	background-color: transparent !important;
}
@media (max-width: 768px) {
	body {
		padding: 0;
	}
}

.thumbnail {
	margin-bottom:7px;
}
.tabs-left {
	>.nav-tabs {
		border-bottom: 0;
		float: left;
		margin-right: 19px;
		border-right: 1px solid #ddd;
		>li {
			float: none;
			>a {
				min-width: 74px;
				margin-right: 0;
				margin-bottom: 3px;
				margin-right: -1px;
				-webkit-border-radius: 4px 0 0 4px;
				-moz-border-radius: 4px 0 0 4px;
				border-radius: 4px 0 0 4px;
				&:hover {
					border-color: #eeeeee #dddddd #eeeeee #eeeeee;
				}
				&:focus {
					border-color: #eeeeee #dddddd #eeeeee #eeeeee;
				}
			}
		}
		.active {
			>a {
				border-color: #ddd transparent #ddd #ddd;
				*border-right-color: #ffffff;
				&:hover {
					border-color: #ddd transparent #ddd #ddd;
					*border-right-color: #ffffff;
				}
				&:focus {
					border-color: #ddd transparent #ddd #ddd;
					*border-right-color: #ffffff;
				}
			}
		}
	}
}
.tab-content {
	>.tab-pane {
		display: none;
	}
	>.active {
		display: block;
	}
}
.pill-content {
	>.pill-pane {
		display: none;
	}
	>.active {
		display: block;
	}
}
