<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navbar.html navbartype="navbar-default" %}

    <div class="container-fluid" style="padding-left: 2em; padding-right: 2em; padding-top: 2em;">
        <div style="padding-bottom: 5em;">
            <div class="text-center" style="padding-bottom: 3em;">
                <h1>{{ page.title }}</h1>
            </div>
            
            {{content}}
        </div>
    
        <div>        
            {% for post in site.posts %}
            {% unless post.id == page.id %}
        
            <div style=" padding-bottom: 2em; padding-top: 2em;">
                <div style="overflow: hidden; height: 12em;">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    {{ post.excerpt }}
                </div>
            </div>
        
            {% endunless %}
            {% endfor %}
        </div>
        
    </div>

    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>