<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navbar.html navbartype="navbar-default navbar-blogpost" %}

    <div class="container-fluid" style="padding: 2em 2em 0em 2em;">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div>
                <div class="text-center" style="padding-bottom: 3em;">
                    <h3 class="blogpost-title">{{ page.title }}</h3>
                    <div>
                        <p style="color: black;">{{ page.date | date: "%-d %B %Y" }} | By {{page.author}}</p>
                    </div>
                    
                </div>
                <div class="text-center" style="padding-bottom: 5em;">
                    <img src="{{page.imglink | relative_url}}" style="max-width: 100%">
                </div>
                
                <div class="blog-p">
                    {{content}}
                </div>
                
            </div>
        
            <div style="padding-top: 5em;">        
                {% for post in site.posts %}
                {% unless post.id == page.id %}
            
                <div style=" padding-bottom: 2em; padding-top: 2em;">
                    <h3 class="title" style="padding-bottom: 0px;"><a href="{{ post.url }}" style="text-decoration: underline;">{{ post.title }}</a></h3>
                    <p style="color: black;">{{ post.date | date: "%-d %B %Y" }} | By {{post.author}}</p>
                    <div class="blog-p" style="overflow: hidden; max-height: 12em;">
                        {{ post.excerpt }}
                    </div>
                </div>
            
                {% endunless %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>